{% extends "viajes/base.html" %}
{% block contenido %}

{% if modo_edicion %}
<h2>Editar viaje</h2>
{% else %}
<h2>Crear viaje</h2>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="mt-3">
        <button type="submit" class="btn btn-success">
            Guardar
        </button>

        {% if modo_edicion %}
        <a href="{% url 'detalle_viaje' viaje.pk %}"
           class="btn btn-secondary">
            Cancelar
        </a>
        {% endif %}
    </div>
</form>

{% endblock %}
